
Asset/.DS_Store
.DS_Store

*.md

*.ini

Asset/PulseSensor/.picasaoriginals/connection_to_arduino.jpg

Asset/PulseSensor/.picasaoriginals/pulse_sensor.jpg

Asset/PulseSensor/.picasaoriginals/three_signals.jpg
